.NE-enter {
  transform: translateX(-100%);
}

.NE-enter-active {
  transform: translateX(0);
  transition: all 3000ms linear;
}

.NE-exit {
  transform: translateX(0);
}

.NE-exit-active {
  transform: translateX(-100%);
  transition: all 3000ms linear;
}

