/* .er-enter {
    transform: translateX(-100%);
  }
  
  .er-enter-active {
    transform: translateX(0);
    transition: all 3000ms linear;
  }
  
  .er-exit {
    transform: translateX(0%);
  }
  
  .er-exit-active {
    transform: translateX(-100%);
    transition: all 3000ms linear;
  }

  .wrapper {
    display: inline-flex;
    background-color: red;
    border-radius: 10px;
    width: 200px;
    height: 100px;
    text-align: left;
    align-items: center;
  }
  
  .errorDescr {
    color: white;
  } */