.statistics{
    display: block;
    width: 280px;
    height: 150px;
    text-align: center;
}

.title{
    font-size: 18px;
    color: grey;
    font-weight: 700;
    text-transform: uppercase;
}

.stat_list{
    display: flex;
}

.item{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item:first-child{
    background-color: hotpink;
}
.item:nth-child(2){
    background-color: indianred;
}
.item:nth-child(3){
    background-color: khaki;
}
.item:last-child{
    background-color: lawngreen;
}

.label{
    font-size: 14px;
    margin-bottom: 10px;
}

.percentage{
    font-size:20px;
}
